name: Bingo workflow

on:
  push:
    branches:
      - githubActions_improvement

jobs:
  syntax_check_job:
    runs-on: ubuntu-latest
    name: Syntax check 
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Linter execution run
        uses: github/super-linter@v3
        env:
          DEFAULT_BRANCH: githubActions_improvement
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LINTER_RULES_PATH: /
          JAVASCRIPT_ES_CONFIG_FILE: .eslintrc.js 
          VALIDATE_JAVASCRIPT_ES: true

  test_execution_job:
    runs-on: ubuntu-latest
    name: Test execution job
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run Test Jest
        run: |
          npm install jest
          npm test

    